body{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
header{
    overflow: hidden;
    height: 100vh;
}
.bg-vid{
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}
.nav-area{
    background: rgba(0,0,0,0.7);
    height: 60px;
    position: absolute;
    width: 110%;
background-color: black;
}
.logo{
    margin: 0 50px;
    height: 60px;
    float: left;
    color: red;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;
}
.menu-area{
    float: right;
    list-style: none;
    margin: 20px;
}
.menu-area li{
    display: inline-block;
    margin: 0 5px;
}
.menu-area li a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    letter-spacing: 2px;
}
.menu-area li a:hover{
    color: red;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.banner-text h2{
    color: black;
    font-size: 55px;
    margin: 0;
}
.banner-text p{
    color: black;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}
.btn{
    display: inline-block;
    margin-top: 5%;
    background: transparent;
    border: 0;
    font-size: 20px;
    text-transform: uppercase;
    border: 3px solid red;
    padding: 10px 25px;
    color: black;
    border-radius: 25px;
}
